@font-face {
  font-family: 'IranSans';
  src: url('./assets/fonts/IranSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IranSans';
  src: url('./assets/fonts/IranSansBold.ttf') format('truetype');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'Nazanin';
  src: url('./assets/fonts/BNazanin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nazanin';
  src: url('./assets/fonts/BNazaninBold.ttf') format('truetype');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'Lotus';
  src: url('./assets/fonts/BLotus.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lotus';
  src: url('./assets/fonts/BLotusBold.ttf') format('truetype');
  font-weight: bold;
  font-style: bold;
}

#root {
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  font-family: 'IranSans', 'Nazanin', 'Lotus', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;
}

input,
textarea {
  font-family: 'IranSans', 'Nazanin', 'Lotus', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
}

::placeholder {
  font-family: 'IranSans', 'Nazanin', 'Lotus', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: 'IranSans', 'Nazanin', 'Lotus', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-family: 'IranSans', 'Nazanin', 'Lotus', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

:-ms-input-placeholder {
  /* IE 10+ */
  font-family: 'IranSans', 'Nazanin', 'Lotus', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-family: 'IranSans', 'Nazanin', 'Lotus', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}